<section class="card bg-custom-1 border-dark rounded text-center animated zoomIn boxshadow">
  <div class="card-body shadow-lg">
    <h1>¿Qué es NeverLostDog?</h1>
    <p>
      NeverLostDog es una aplicación con la que podrás crear diferentes perfiles para tus mascotas para posteriormente generar códigos QR. Podras modificar los diferentes perfiles o eliminarlos. No hay número maximo de perfiles ni de códigos a generar.
    </p>
  </div>
</section>
