<link rel="stylesheet" href="/css/about.css">
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Desarrollado en Node</h3>
        </div>
    </section>

    <section>
        <div class="parallax-one">
           
        </div>
    </section>
    <section>
        <div class="title">
            <h3>Base de Datos MongoDB</h3>
        </div>
    </section>
    <section>
        <div class="parallax-two">
            
        </div>
    </section>
    <section>
        <div class="title">
            <h3>Desplegado en Heroku</h3>
        </div>
    </section>
    <section>
        <div class="parallax-three">
        </div>
    </section>
</div>