<div class="card mt-4 bg-custom-1  negro border-dark rounded animated zoomIn boxshadow">
  <p class="display-4 negro grande ">NeverLostDog</p>
  <p class="lead">Aplicaci칩n Web desplegada en Heroku y desarrollada mediante NodeJs y MongoDB para generar codigos QR
    personalizados para tus perros</p>
  <hr class="my-4">
  <p> Para mas info:
    <div class="form-group">
      <a class="btn-sm btn-info negro font-weight-bold  buttonshadow " href="mailto:danieldiaz@opendeusto.es">
        Contacto
      </a>
    </div>
  </p>
</div>
<div class="swiper-container p-5 col-md-5 zoomIn">
  <div class="swiper-wrapper mx-auto ">
    <div class="swiper-slide">
      <div class="imgBx">
        <a href="https://nodejs.org/en/" alt="P치gina Oficial Node" target="_blank">
          <img src="/img/node.jpg">
        </a>
      </div>
      <div class="details">
        <h3>Desarrollado con Node</h3>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="imgBx">
        <a href="https://id.heroku.com/login" alt="P치gina Oficial Node" target="_blank">
          <img src="/img/heroku.jpg">
        </a>
      </div>
      <div class="details">
        <h3>Desplegado en Heroku</h3>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="imgBx">
        <a href="https://www.mongodb.com/" alt="P치gina Oficial Node" target="_blank">
          <img src="/img/mongo.jpg">
        </a>
      </div>
      <div class="details">
        <h3>Base de datos MongoDB</h3>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>


<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://neverlostdog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>



<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('5r9hvf47wxkh');
</script>
<!-- End of Async Drift Code -->



<script type="text/javascript" src="/css/swiper.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
      rotate: 25,
      stretch: 0,
      depth: 600,
      modifier: 2,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>