<link rel="stylesheet" href="/css/index.css">
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>¿Qué es NeverLostDog?</h3>

        </div>
    </section>
    <section>
        <div class="parallax-one">
            <h4>Genera códigos QR personalizables </h4>
            <h5>para tus mascotas</h5>
        </div>
    </section>

    <section>

        <div class="title">
            <br><br><br>
            <h6> Mediante esta aplicación podrás personalizar a tu gusto códigos QR para tu perro </h6>
            <br><br>
            <p class="line-break margin-top-10"></p>
            <br><br><br>
            <h6> Registrate gratis y disfruta de esta funcionalidad y más... </h6>
            <br><br><br>
        </div>

    </section>

    <section>
        <div class="parallax-two">
            <h4>Encuentra el veterinario </h4>
            <h5>más cercano</h5>
        </div>
    </section>

    <section>

        <div class="title">
            <br><br><br>
            <h6> Neverlostdog dispone de un buscador de veterinarios y centros de animales</h6>
            <br><br>
            <p class="line-break margin-top-10"></p>
            <br><br><br>
            <h6> Encuentra cómodamente el que más te guste</h6>
            <br><br><br>
        </div>

    </section>

    <section>
        <div class="parallax-three">
            <h4>Consigue los productos </h4>
            <h5>más innovadores del mercado</h5>
        </div>
    </section>

    <section>

        <div class="title">
            <br><br><br>
            <h6> Neverlostdog dispone de una tienda online</h6>
            <br><br>
            <p class="line-break margin-top-10"></p>
            <br><br><br>
            <h6>Disfruta de los productos oficiales Neverlostdog </h6>
            <br><br><br>
        </div>

    </section>

</div>