<link rel="stylesheet" href="/css/index.css">
<div id="parallax-world-of-ugg">
 <section>
      <div class="title">
        <h3>¿Qué   es   NeverLostDog?</h3>
     
      </div>
    </section>
    <section>
        <div class="parallax-one">
            <h4>Genera códigos QR personalizables </h4>
            <h5>para tus mascotas</h5>
        </div>
    </section>

    <section>
        
        <div class="title">
            <br><br><br>
          <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's</h6>
                <br><br>
          <p class="line-break margin-top-10"></p>
                 <br><br><br>
           <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's, </h6>
                 <br><br><br>
        </div>
       
    </section>

    <section>
        <div class="parallax-two">
            <h4>Encuentra el veterinario </h4>
            <h5>más cercano</h5>
        </div>
    </section>

    <section>
        
        <div class="title">
            <br><br><br>
          <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's</h6>
                <br><br>
          <p class="line-break margin-top-10"></p>
                 <br><br><br>
           <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's, </h6>
                 <br><br><br>
        </div>
       
    </section>

    <section>
        <div class="parallax-three">
            <h4>Consigue los productos </h4>
            <h5>más innovadores del mercado</h5>
        </div>
    </section>

   <section>
        
        <div class="title">
            <br><br><br>
          <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's</h6>
                <br><br>
          <p class="line-break margin-top-10"></p>
                 <br><br><br>
           <h6>  reaking into the New York fashion world is no easy task. But by
                the early 2000's, </h6>
                 <br><br><br>
        </div>
       
    </section>

</div>