body {
  background: rgb(63, 204, 20); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(231, 165, 110),
    rgb(210, 231, 131)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(231, 165, 110),
    rgb(210, 231, 131)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 30%;
}

.fa-paw {
  color: rgb(66, 66, 64);
  text-shadow: 0 0 4px #000;
}

.fondo {
  color: blue;
}

.bg-custom-1 {
  background-image: linear-gradient(
    -60deg,
    rgb(215, 235, 192),
    rgb(215, 235, 192)
  );
}

.sombraboton {
  color: rgb(3, 3, 3);
  -webkit-text-stroke: 0.5px white;
}

.sombratexto {
  -webkit-text-stroke: 2px black;
}
p {
  font-family: "Alef";
  font-size: 20px;
}
.negro {
  color: black;
  font-size: 15px;
}
.rojo {
  color: red;
}

.fuenteFormulario {
  font-family: "Alef";
  font-size: 20px;
}
.derechos {
  text-transform: lowercase;
}
.titulo {
  font-size: 30px;
  -webkit-text-stroke: 3px black;
}
.var {
  font-size: 16px;
  -webkit-text-stroke: 1px black;
}

.jumbotron {
  border: 1px;
  border-color: black;
  border-style: solid;
}
.grande {
  font-size: 40px;
}

.barcode {
  border: 1px;
  display: none;
}
.animated .fadeIn .barcode {
  filter: invert(33%);
  filter: sepia(68%);
  filter: saturate(6908%);
  filter: hue-rotate(350deg);
  filter: brightness(92%);
  filter: contrast(137%);
}

.letras {
  font-size: 15px;
}

.izquierda {
  width: 50%;
}
.h5 {
  font-weight: bold;
}

.foto {
  width: 70%;
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px grey;
}

.boxshadow {
  box-shadow: 10px 10px 5px grey;
}

.buttonshadow {
  box-shadow: 5px 5px 5px grey;
}

.swiper-container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: rgb(210, 231, 131);
}
.swiper-slide .imgBx {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.swiper-slide .imgBx .img {
  width: 100%;
}
.swiper-slide .details {
  box-sizing: border-box;

  padding: 20px;
}

.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

