<nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  
    <a class="navbar-brand" href="/">
        NeverLostDog
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    {{#if user}}
    <!--ADMINISTRADOR-->
    {{#operaciones user.email '===' "admin@gmail.com"}}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex align-items-end navbar-nav ml-lg-auto">
        <a class="nav-item nav-link" href="/products">Gestionar Productos <i class="fas fa-list"></i></a>
        <a class="nav-item nav-link" href="/orders">Gestionar Pedidos <i class="fas fa-store-alt"></i>
        <a class="nav-item nav-link" href="/users">Gestionar Usuarios <i class="fas fa-users-cog"></i></i></a>
        <a class="nav-item nav-link" href="/users/logout">Logout <i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
    {{else}}
    <!--USUARIO-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex align-items-end navbar-nav ml-lg-auto">
        <a class="nav-item nav-link" href="/dogs">Lista de Perros <i class="fas fa-list"></i></a>
        <a class="nav-item nav-link" href="/dogs/add">Añadir Perro <i class="fas fa-dog"></i></a>
        <a class="nav-item nav-link" href="/users/modificaruser">Modificar Perfil <i class="fas fa-user-cog"></i></a>
        <a class="nav-item nav-link" href="/shop">Tienda<i class="fas fa-gift"></i></a>
        <a class="nav-item nav-link" href="/shopping-cart">Carrito<i class="fas fa-shopping-cart">{{session.cart.totalQty}}</i></a>
        <a class="nav-item nav-link" href="/maps">Buscar Veterinario<i class="fas fa-map-marked-alt"></i></a>
        <a class="nav-item nav-link" href="/users/logout">Logout <i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
    {{/operaciones}}
    {{else}}
    <!--NO USUARIO-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex align-items-end navbar-nav ml-lg-auto">
        <a class="nav-item nav-link" href="/users/signin">Login <i class="fas fa-sign-in-alt"></i></a>
        <a class="nav-item nav-link" href="/users/signup">Registro <i class="fas fa-user-plus"></i></a>
        <a class="nav-item nav-link" href="/about">About <i class="fas fa-info-circle"></i></a>
        <a class="nav-item nav-link" href="/maps">Buscar Veterinario<i class="fas fa-map-marked-alt"></i></a>
        </div>
    </div>
    {{/if}}
    
</nav>