<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
       
    <a class="navbar-brand" href="/">
        NeverLostDog
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    {{#if user}}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex align-items-end navbar-nav ml-lg-auto">
        <a class="nav-item nav-link" href="/dogs">Lista de Perros <i class="fas fa-list"></i></a>
        <a class="nav-item nav-link" href="/dogs/add">Añadir Perro <i class="fas fa-dog"></i></a>
        <a class="nav-item nav-link" href="/users/modificaruser">Modificar Perfil <i class="fas fa-user"></i></a>
        <a class="nav-item nav-link" href="/users/logout">Logout <i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
    {{else}}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex align-items-end navbar-nav ml-lg-auto">
        <a class="nav-item nav-link" href="/users/signin">Login <i class="fas fa-sign-in-alt"></i></a>
        <a class="nav-item nav-link" href="/users/signup">Registro <i class="fas fa-user-plus"></i></a>
        <a class="nav-item nav-link" href="/about">About <i class="fas fa-info-circle"></i></a>
        <a class="nav-item nav-link" href="/maps">Buscar Veterinario<i class="fas fa-map-marked-alt"></i></a>
        </div>
    </div>
    {{/if}}


</nav>