<div class="container p-5">
  <br>
  <div class="row">
    <br>
    <div class="col-md-6 mx-auto">
      <div class="card mt-4 text-center card colorfondopanel bordertop shadow-lg animated bounceInUp">
        <br>
        <h1 class="h2w">
          Iniciar Sesión
          <hr class="grisclaro">
        </h1>
        
        
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/huella.png" alt="Logo">
        <div class="card-body">
          <form action="/users/signin" method="POST">
            <div class="form-group">
              <input type="email" class="form-control colorfondoform  borde8 negro" name="email"
                placeholder="&#xf007;    Email" style="font-family:Arial, FontAwesome">
            </div>
            <div class="form-group ">
              <input type="password" class="form-control colorfondoform  borde8 naranja " name="password"
                placeholder="&#xf023;    Password" style="font-family:Arial, FontAwesome">
            </div>
            <br>
            <button class="btn buttonn  transparent-background naranja allborders borde30 ">
              Iniciar Sesión
            </button>
            <br> <br> <br> <br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>